<!DOCTYPE html>
<html lang="en">

<head>
    <title>食品供应链溯源信息系统</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css">
</head>

<body>
    <% include ../base %>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">产品信息</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="query">
                            <div class="control">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <select class="form-control" id="peer_num">
                                            <option value="3">请选择节点编号</option>
                                            <option value="3">peer0Org2</option>
                                            <option value="4">peer1Org2</option>
                                        </select>
                                    </div>
                                    <input type='button'  class="btn btn-default" value='开始查询' onClick="fun()" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <!-- <div class="panel-heading">
                            DataTables Advanced Tables
                        </div> -->
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>产品id</th>
                                        <th>名称</th>
                                        <th>口味</th>
                                        <th>日期</th>
                                        <th>规格</th>
                                        <th>员工id</th>
                                    </tr>
                                </thead>
                                <tbody>

                                <% for (var i = 0;i < data.length;i++) {%>
                                    <tr class="gradeA">
                                        <td><%=data[i].productid%></td>
                                        <td><%=data[i].name%></td>
                                        <td><%=data[i].specification%></td>
                                        <td><%=data[i].date%></td>
                                        <td><%=data[i].flavor%></td>
                                        <td><%=data[i].personid%></td>
                                    </tr>   
                                <% } %>
                                    
                                </tbody>
                            </table>
                  
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <a href="addproduct" class="add">添加</a>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
        <script type="text/javascript" src="/js/Circle.js"></script>
        <script type="text/javascript">
        function fun() {
            var obj = document.getElementById("peer_num");
            ajax('get', '/api/getproductpeerinfo/' + obj.value, {}, function(data) {
                alert(data);
                var data = JSON.parse(data);
                $('tbody').empty(); //清空列表

                for (var i = 0; i < data.length; i++) {
                    $('tbody').append(' <tr ><td>' + data[i].productid + '</td><td>' + data[i].name + '</td><td>' + data[i].specification + '</td><td>' + data[i].date + '</td><td>' + data[i].flavor + '</td><td>' + data[i].personid + '</td></tr>');
                }
                alert("ok");
            });
        }
        </script>
</body>

</html>
